body{
  background-color: #333232;
}
#container{
  background-color: #d36805;
  border: 5px solid #200ae6;
  height: 275px;
  width: 1000px;
  margin: 0px auto;
  text-align: center;

}
#btn{
margin: 50px auto;
height: 55px;
width: 250px;
font-size: 20px;
cursor: pointer;
background-color:rgb(46, 14, 231);
}
#btn:hover {
  background-color: white;
 }

#output{
color: white;
margin: 45px auto;
font-size: 26px;
}
